@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

body{
    font-family: 'Bona Nova', serif;
}
h1{
    background-color: red;
    color: white;
}